body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-201px;
  width:618px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:661px;
  width:116px;
  height:60px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:112px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:194px;
  width:92px;
  height:37px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:764px;
  width:92px;
  height:37px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:371px;
  width:92px;
  height:37px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:194px;
  width:92px;
  height:37px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:351px;
  width:92px;
  height:37px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:416px;
  width:92px;
  height:37px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:286px;
  width:92px;
  height:37px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:725px;
  width:92px;
  height:37px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:791px;
  width:92px;
  height:37px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:660px;
  width:92px;
  height:37px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:1118px;
  width:92px;
  height:37px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1118px;
  width:92px;
  height:37px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:620px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-236px;
  width:8px;
  height:236px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-236px;
  width:107px;
  height:8px;
}
#u13_seg2 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-242px;
  width:20px;
  height:20px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:778px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-10px;
  width:20px;
  height:20px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:1137px;
  width:0px;
  height:0px;
}
#u15_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u15_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-10px;
  width:20px;
  height:20px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:213px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:-4px;
  width:107px;
  height:8px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:-4px;
  width:8px;
  height:254px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:-153px;
  top:66px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:390px;
  width:0px;
  height:0px;
}
#u17_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u17_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-89px;
  width:8px;
  height:93px;
}
#u17_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-89px;
  width:18px;
  height:8px;
}
#u17_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-95px;
  width:20px;
  height:20px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:390px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-24px;
  width:8px;
  height:28px;
}
#u18_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-24px;
  width:18px;
  height:8px;
}
#u18_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-30px;
  width:20px;
  height:20px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:390px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-4px;
  width:8px;
  height:53px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:41px;
  width:18px;
  height:8px;
}
#u19_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:35px;
  width:20px;
  height:20px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:783px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-108px;
  width:8px;
  height:112px;
}
#u20_seg2 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-108px;
  width:17px;
  height:8px;
}
#u20_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-114px;
  width:20px;
  height:20px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:783px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u21_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-4px;
  width:8px;
  height:35px;
}
#u21_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:23px;
  width:18px;
  height:8px;
}
#u21_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:17px;
  width:20px;
  height:20px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:1137px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-10px;
  width:20px;
  height:20px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:1037px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:432px;
}
#u23_seg2 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:420px;
  width:105px;
  height:8px;
}
#u23_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:414px;
  width:20px;
  height:20px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:254px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:691px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:139px;
  height:8px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:1445px;
  width:92px;
  height:37px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:1376px;
  width:92px;
  height:37px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:213px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-10px;
  width:20px;
  height:20px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:477px;
  width:92px;
  height:37px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:390px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-4px;
  width:8px;
  height:114px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:102px;
  width:18px;
  height:8px;
}
#u29_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:96px;
  width:20px;
  height:20px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:60px;
  width:92px;
  height:37px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:1037px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-963px;
  width:8px;
  height:963px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-963px;
  width:107px;
  height:8px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-969px;
  width:20px;
  height:20px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-539px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:855px;
  width:92px;
  height:37px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:783px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-4px;
  width:8px;
  height:99px;
}
#u33_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:87px;
  width:21px;
  height:8px;
}
#u33_seg3 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:81px;
  width:20px;
  height:20px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:1443px;
  width:92px;
  height:37px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:1504px;
  width:92px;
  height:37px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1464px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u36_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-73px;
  width:8px;
  height:77px;
}
#u36_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-73px;
  width:20px;
  height:8px;
}
#u36_seg3 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-79px;
  width:20px;
  height:20px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1464px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u37_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-6px;
  width:8px;
  height:10px;
}
#u37_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-6px;
  width:20px;
  height:8px;
}
#u37_seg3 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-12px;
  width:20px;
  height:20px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1464px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-4px;
  width:8px;
  height:67px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:55px;
  width:20px;
  height:8px;
}
#u38_seg3 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:49px;
  width:20px;
  height:20px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:783px;
  width:0px;
  height:0px;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u39_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-43px;
  width:8px;
  height:47px;
}
#u39_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-43px;
  width:18px;
  height:8px;
}
#u39_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-49px;
  width:20px;
  height:20px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
