body {
  margin:0px;
  background-color:rgba(204, 204, 204, 0.317647058823529);
  background-image:none;
  position:relative;
  left:-0px;
  width:4503px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:650px;
}
#u8503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:1357px;
  height:650px;
}
#u8503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1484px;
  height:692px;
}
#u8504 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:10px;
  width:1484px;
  height:692px;
}
#u8504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:855px;
}
#u8505 {
  border-width:0px;
  position:absolute;
  left:3196px;
  top:10px;
  width:1307px;
  height:855px;
}
#u8505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
